//CSS For Home Page
//Background
.BackGround {
  position: relative;
  background-image: linear-gradient(135deg, #834fa2, #d85c98, #834fa2, #d85c98);
  background-size: 400% 400%;
  animation: BackDropAnim 16s ease-in-out infinite;
}
//Div Background Gradient Animation KeyFrames
@keyframes BackDropAnim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

//Container
.Container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
//Scrolling Text Behind MacBook Reveal Animation
//Div Containing Scrolling Text
.Marquee {
  position: absolute;
  top: 18vw;
  width: 200vw;
}
//Div Animation
.MarqueeInner {
  transform: translate3d(-6vw, 0, 0);
  animation: MarqueeAnim 5s linear infinite;
}
//Div Text
.Marquee span {
  font-size: 9vw;
  padding-right: 2vw;
  font-weight: 600;
  color: #2e2e2e;
}
//Scrolling Text Animation
@keyframes MarqueeAnim {
  0% {
    transform: translate3d(80vw, 0, 0);
  }
  100% {
    transform: translate3d(-230vw, 0, 0);
  }
}
//MacBook Animation Container
.MacBookAnim {
  position: relative;
  margin-top: 3vw;
}
//VideoContainer
.AnimVideo {
  aspect-ratio: 16/9;
  width: 100%;
}
.TextContainer {
  position: relative;
  top: -5.4vw;
  padding-left: 10vw;
  padding-right: 10vw;
  flex-wrap: wrap;
}
//"want your dashboard to look like this?" Title
.QuestionToUser {
  position: relative;
  font-size: 45px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  padding-bottom: 1vw;
}
//Description
.LandingDesc {
  position: relative;
  font-size: 24px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding-bottom: 1vw;
}
.ButtonContainer {
  position: relative;
  padding-left: 10vw;
  padding-right: 10vw;
  top: -3.6vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
//Login & SignUp Button
.LogInBtn,
.SignUpBtn {
  position: relative;
  margin: 1vw;
  width: 125px;
  height: 60px;
  border: none;
  border-radius: 10px;
  font-size: 1vw;
  font-weight: 600;
  cursor: pointer;
  transition: all ease-in-out 100ms;
}
.LogInBtn {
  border: 0.18vw solid white;
  background-color: #00000000;
  color: white;
}
.LogInBtn:hover {
  background-color: #ffffff45;
}
.SignUpBtn {
  background-color: #2e2e2ed7;
  color: white;
}
.SignUpBtn:hover {
  background-color: #2e2e2e;
}

//Introduction Section
.ServicesSection {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.ColumnPlaceholder {
  position: relative;
  padding: 3.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12vw;
}
.ImageContainer {
  position: relative;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(10px);
  box-shadow: 9px 9px 30px #2e2e2e;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
//Marketing Graphic Image
.MarketingGraphic {
  position: relative;
  width: 27vw;
  height: 27vw;
}
.TextPlaceholder {
  position: relative;
  width: 36vw;
  text-align: left;
}
.ProfessionQuestion {
  position: relative;
  min-height: 3.1vw;
  font-size: 45px;
  margin-bottom: 1vw;
  font-weight: 700;
  color: #2e2e2e;
  white-space: pre-wrap; /* Keeps line breaks */
  border-right: 2px solid #2e2e2e;
  display: inline-block;
  animation: CursorBlink 0.7s steps(2, start) infinite;
}
@keyframes CursorBlink {
  50% {
    border-color: transparent;
  }
}

.ProfessionDesc {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  color: #2e2e2e;
  margin-bottom: 1.8vw;
}
.ServicesBtn {
  position: relative;
  width: 140px;
  height: 60px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all ease-in-out 100ms;
}
.ServicesBtn {
  background-color: #2e2e2ed7;
  color: white;
}
.ServicesBtn:hover {
  background-color: #2e2e2e;
}











//Responsive Design
@media only screen and (max-width: 600px) {
  .LandingSection {
    flex-direction: column;
  }
  .Marquee {
    top: 33vw;
  }
  .Marquee span {
    font-size: 9vw;
  }
  .MacBookAnim {
    margin-top: 20vw;
    left: -11.5vw;
  }
  .AnimVideo {
    width: 120%;
  }
  .QuestionToUser {
    top: -6vw;
    font-size: 4vw;
  }
  .LandingDesc {
    top: -6vw;
    padding: 2.7vw;
    font-size: 2.4vw;
  }
  .LogInBtn,
  .SignUpBtn {
    width: 95px;
    height: 45px;
    font-size: 2.7vw;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 3.6vw;
  }
  .LogInBtn {
    border: 0.36vw solid white;
  }
  .IntroductionSection, .ColumnPlaceholder {
    flex-direction: column;
  }
  .ColumnPlaceholder {
    width: 90vw;
  }
  .MarketingGraphic {
    width: 63vw;
    height: 63vw;
    left: 3.6vw;
  }
  .ProfessionQuestion {
    position: relative;
    font-size: 4vw;
  }
  .TextPlaceholder {
    width: 90vw;
    text-align: center;
  }
}
