.contentWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 12rem;
  padding-right: 12rem;
}

.contentWrapper h1 {
  font-size: 5rem;
  line-height: 1.2;
}
.contentWrapper p {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}
.contentWrapper .ctaBtn {
  margin-right: 3vw;
}
.ctaBtn, .demoBtn {
  padding-left: 2vw;
  padding-right: 2vw;
  height: 4vw;
  border-radius: 20px;
  font-size: 0.9vw;
  cursor: pointer;
  border: none;
}

.chartContainer {
  /* Make the chart smaller */
  height: 29rem;
  width: 120rem; 
  margin: auto; /* Center it on the page */
}

.challengeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 12rem;
  padding-right: 12rem;
}

.challengeWrapper h2 {
  font-size: 4rem;
}
.challengeWrapper p {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
  width: 100%;
}

.card {
  display: block;
  width: 36rem;
  background-color: #f9f9f92d;
  border-radius: 8px;
  padding: 2.7rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.card p {
  font-size: 1.6rem;
  line-height: 1.4;
}

.thoughtProcess {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 12rem;
  padding-right: 12rem;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 12rem;
  padding-right: 12rem;
}

.cardCarousel {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
  overflow-x: scroll;
}

.cardCarousel .card {
  margin: 2rem;
}